* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: white;
  border-radius: 3px;
  margin: 50px auto;
  width: 100%;
  box-shadow: 3px 3px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px;
}

h2 {
  font-size: 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn {
transition: box-shadow 0.3s;
font-size: 25px;
padding: 20px 25px;
width: 150px;
margin: 10px;
background-color: white;
border: 4px solid grey;
border-radius: 3px;
box-shadow: 2px 2px 2px 0px;
}

.btn:hover {
  background-color: #f6f6f6;
}

.points {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0 auto;
}

.points {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0 auto;
}

.aaaaa {
  width: 80%;
  text-align: center;
}

.players {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.msg {
  padding-top: 20px;
}

i {
  font-size: 1.5em
}

@media only screen and (min-width: 768px) {

  .App {
      background-color: white;
      border-radius: 3px;
      margin: 50px auto;
      width: 600px;
      box-shadow: 3px 3px 30px rgba(0,0,0,0.1);
      display: flex;
  }

  .buttons {
      flex-direction: row;
      margin: 20px;
  }

  .points {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0 auto;
  }

  .aaaaa {
    width: 80%;
    text-align: center;
  }

  .players {
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }

  .computerChoice {
    margin-top: 30px;
    font-size: 1.5em;
  }

  .msg {
    padding-top: 20px;
  }

  i {
    font-size: 1.5em
  }
}
